@media (max-width: 375px) {
    /* sub article page */

    .sub-article-page {
        height: 3250px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 50px;
        padding-top: 30px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 27px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 3200px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 5%;
        margin-top: 30px;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 95%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 20px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 12px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 12px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 12px;
    }
}

@media (min-width: 376px) and (max-width: 391px) {
    /* sub article page */

    .sub-article-page {
        height: 3550px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 50px;
        padding-top: 30px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 27px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 3500px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 5%;
        margin-top: 30px;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 95%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 20px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 13px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 13px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 13px;
    }
}

@media (min-width: 392px) and (max-width: 407px) {
    /* sub article page */

    .sub-article-page {
        height: 3350px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 50px;
        padding-top: 30px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 27px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 3300px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 5%;
        margin-top: 30px;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 95%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 20px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 13px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 13px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 13px;
    }
}

@media (min-width: 408px) and (max-width: 433px) {
    /* sub article page */

    .sub-article-page {
        height: 3700px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 80px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 28px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 3620px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 6%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 94%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 21px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 14px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 14px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 14px;
    }
}

@media (min-width: 434px) and (max-width: 459px) {
    /* sub article page */

    .sub-article-page {
        height: 3670px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 80px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 28px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 3590px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 7%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 93%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 21px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 14px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 14px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 14px;
    }
}

@media (min-width: 460px) and (max-width: 485px) {
    /* sub article page */

    .sub-article-page {
        height: 3410px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 80px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 28px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 3330px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 7%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 93%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 21px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 14px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 14px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 14px;
    }
}

@media (min-width: 486px) and (max-width: 511px) {
    /* sub article page */

    .sub-article-page {
        height: 3370px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 80px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 28px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 3290px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 8%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 92%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 21px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 14px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 14px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 14px;
    }
}

@media (min-width: 512px) and (max-width: 537px) {
    /* sub article page */

    .sub-article-page {
        height: 3600px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 110px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 31px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 3490px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 8%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 92%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 23px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 15px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 15px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 15px;
    }
}

@media (min-width: 538px) and (max-width: 563px) {
    /* sub article page */

    .sub-article-page {
        height: 3480px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 110px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 31px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 3370px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 9%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 91%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 23px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 15px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 15px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 15px;
    }
}

@media (min-width: 564px) and (max-width: 589px) {
    /* sub article page */

    .sub-article-page {
        height: 3370px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 110px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 31px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 3260px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 9%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 91%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 23px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 15px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 15px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 15px;
    }
}

@media (min-width: 590px) and (max-width: 615px) {
    /* sub article page */

    .sub-article-page {
        height: 3300px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 110px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 31px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 3190px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 9%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 91%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 23px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 15px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 15px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 15px;
    }
}

@media (min-width: 616px) and (max-width: 666px) {
    /* sub article page */

    .sub-article-page {
        height: 3180px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 110px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 31px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 3070px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 11%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 89%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 23px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 15px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 15px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 15px;
    }
}

@media (min-width: 667px) and (max-width: 767px) {
    /* sub article page */

    .sub-article-page {
        height: 3070px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 110px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 31px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 2960px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 12%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 88%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 23px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 15px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 15px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* sub article page */

    .sub-article-page {
        height: 3100px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 140px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 34px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 2960px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 95%;
        height: 14%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 86%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 25px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 16px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 16px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 16px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* sub article page */

    .sub-article-page {
        height: 2970px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 170px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 37px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 2800px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 85%;
        height: 18%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 82%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 27px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 17px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 17px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 17px;
    }
}

@media (min-width: 1200px) and (max-width: 1348px) {
    /* sub article page */

    .sub-article-page {
        height: 2870px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 170px;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 37px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 2700px;
    }

    /* sub article page img */

    .sub-article-page-text .sub-article-page-img {
        width: 80%;
        height: 20%;
    }

    /* sub article page img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 80%;
    }

    /* sub article page img text h3 */

    .sub-article-page-img-text h3 {
        font-size: 27px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 17px;
    }

    /* sub article page img text lists */

    .sub-article-page-img-text ul li {
        font-size: 17px;
    }

    /* sub article page img text list icons */

    .sub-article-page-img-text ul li i {
        font-size: 17px;
    }
}