/* header */

.header {
    position: relative;
    opacity: 1;
}

/* sub article page */

.sub-article-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 280rem;
    background-color: var(--light);
}

/* sub article page title */

.sub-article-page .sub-article-page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
}

/* sub article page title text */

.sub-article-page-title .sub-article-page-title-text {
    font-size: 4rem;
}

/* sub article page text */

.sub-article-page .sub-article-page-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 260rem;
}

/* sub article page img */

.sub-article-page-text .sub-article-page-img {
    width: 70%;
    height: 20%;
    background-image: url(../img/img_4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .5rem;
}

/* sub article page img text */

.sub-article-page-text .sub-article-page-img-text {
    width: 100%;
    height: 80%;
}

/* sub article page img text h3 */

.sub-article-page-img-text h3 {
    font-size: 3rem;
    padding: 6rem 0;
    text-align: center;
    color: var(--third);
}

/* sub article page img text p */

.sub-article-page-img-text p {
    padding: 0 3rem;
}

/* sub article page img text ul */

.sub-article-page-img-text ul {
    padding: 0 3rem;
}

/* sub article page img text lists */

.sub-article-page-img-text ul li::selection {
    background-color: var(--dark);
    color: var(--light);
}

/* sub article page img text list icons */

.sub-article-page-img-text ul li i {
    padding-right: 1rem;
    font-size: 1.8rem;
}