@media (max-width: 424px) {
    /* sub article page */

    .sub-article-page {
        height: 2600px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 5%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 29px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 95%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 90%;
        height: 8%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 92%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 23px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 12px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 12px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 12px;
    }
}

@media (min-width: 425px) and (max-width: 449px) {
    /* sub article page */

    .sub-article-page {
        height: 2700px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 5%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 30px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 95%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 90%;
        height: 10%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 90%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 24px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 13px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 13px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 13px;
    }
}

@media (min-width: 450px) and (max-width: 474px) {
    /* sub article page */

    .sub-article-page {
        height: 2460px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 5%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 30px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 95%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 90%;
        height: 10%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 90%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 24px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 13px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 13px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 13px;
    }
}

@media (min-width: 475px) and (max-width: 499px) {
    /* sub article page */

    .sub-article-page {
        height: 2400px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 5%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 30px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 95%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 90%;
        height: 10%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 90%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 24px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 13px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 13px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 13px;
    }
}

@media (min-width: 500px) and (max-width: 524px) {
    /* sub article page */

    .sub-article-page {
        height: 2250px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 5%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 30px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 95%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 90%;
        height: 10%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 90%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 24px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 13px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 13px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 13px;
    }
}

@media (min-width: 525px) and (max-width: 549px) {
    /* sub article page */

    .sub-article-page {
        height: 2475px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 6%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 32px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 94%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 90%;
        height: 10%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 90%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 26px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 14px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 14px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 14px;
    }
}

@media (min-width: 550px) and (max-width: 599px) {
    /* sub article page */

    .sub-article-page {
        height: 2400px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 6%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 32px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 94%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 90%;
        height: 12%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 88%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 26px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 14px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 14px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 649px) {
    /* sub article page */

    .sub-article-page {
        height: 2250px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 6%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 32px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 94%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 90%;
        height: 12%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 88%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 26px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 14px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 14px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 14px;
    }
}

@media (min-width: 650px) and (max-width: 749px) {
    /* sub article page */

    .sub-article-page {
        height: 2400px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 7%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 34px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 93%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 80%;
        height: 15%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 85%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 27px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 15px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 15px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 15px;
    }
}

@media (min-width: 750px) and (max-width: 849px) {
    /* sub article page */

    .sub-article-page {
        height: 2200px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 7%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 34px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 93%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 80%;
        height: 15%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 85%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 27px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 15px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 15px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 15px;
    }
}

@media (min-width: 850px) and (max-width: 949px) {
    /* sub article page */

    .sub-article-page {
        height: 2250px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 8%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 36px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 92%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 80%;
        height: 15%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 85%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 28px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 16px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 16px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 16px;
    }
}

@media (min-width: 950px) and (max-width: 1049px) {
    /* sub article page */

    .sub-article-page {
        height: 2250px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 8%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 36px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 92%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 70%;
        height: 20%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 80%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 28px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 16px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 16px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 16px;
    }
}

@media (min-width: 1050px) and (max-width: 1150px) {
    /* sub article page */

    .sub-article-page {
        height: 2300px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 9%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 38px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 91%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 70%;
        height: 20%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 80%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 29px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 17px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 17px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 17px;
    }
}

@media (min-width: 1151px) and (max-width: 1348px) {
    /* sub article page */

    .sub-article-page {
        height: 2250px;
    }

    /* sub article page title */

    .sub-article-page .sub-article-page-title {
        height: 9%;
    }

    /* sub article page title text */

    .sub-article-page-title .sub-article-page-title-text {
        font-size: 38px;
    }

    /* sub article page text */

    .sub-article-page .sub-article-page-text {
        height: 91%;
    }

    /* sub article page img1 */

    .sub-article-page-text .sub-article-page-img1 {
        width: 70%;
        height: 25%;
    }

    /* sub article img text */

    .sub-article-page-text .sub-article-page-img-text {
        width: 100%;
        height: 75%;
    }

    /* sub article page img h3 */

    .sub-article-page-img-text h3 {
        font-size: 29px;
    }

    /* sub article page img text p */

    .sub-article-page-img-text p {
        font-size: 17px;
    }

    /* sub article page img text li */

    .sub-article-page-img-text ul li {
        font-size: 17px;
    }

    /* sub article page img text icon */

    .sub-article-page-img-text ul li i {
        font-size: 17px;
    }
}